<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <!-- header files -->
  {% include 'base/header.html' %}
  <!-- header files -->
  <body  class="max-w-[1920px] mx-auto  text-sm bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">

		<!-- header and nav start-->
    {% include 'base/navbar.html' %}
    <!-- END nav -->

    

    {% block content %}

    {% endblock %}

    <!-- footer -->
    {% include 'base/footer.html' %}
    <!-- footer -->



  <!-- loader -->
 


  <!-- js files -->
  {% include 'base/js.html' %}
  <!-- js files -->

  </body>
</html>